* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 20px;
}
.velicina {
  font-size: 30px;
}

hr {
  height: 2px;
  background-color: white;
  border: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 25px;
  overflow: hidden;
  background-color: #054686;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  border: 1px solid #fff;
  background-color: #2e6ead;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #4da6ff;
  color: black;
  text-decoration: none;
}
.naslov {
  background-color: #2e6ead;
}
.naslov h1 {
  color: white;
}
.futer1 {
  left: 0;
  bottom: 0;
  background-color: rgb(105, 105, 105);
  width: 100%;
  text-align: center;
  height: 50px;
  padding: 10px;
  margin-top: 50px;
  position: fixed;
}
.autor {
  margin-top: 20px;
  padding: 50px;
  height: 500px;
  font-family: bold;
  font-size: 30px;
  text-align: center;
}
